@inherits LayoutComponentBase

<PageTitle>Blazor File-Upload</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row-left pt-2">
            <h2>Blazor File-Upload</h2>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
